.background{
 background-image: url(https://ik.imagekit.io/abz/todolistbg.png_updatedAt=1700761069523?updatedAt=1745505855143);
 height: 500px;
 background-size: contain;
 background-repeat: no-repeat;
 width: 500px;
}

.headerstyle{
    color: white;
    text-align: center;
    padding-right: 220px;
    font-family: "Roboto";
}

.buttonstyle{
    background-color: orange;
    color: white;  
    margin-left: 112px;
}
.header{
    color: white;
}
.para{
    text-decoration: underline;
    color: white;
    padding-left: 75px;
    font-size: 12px;
}